@import "../global/_variables.css";
@font-face {   
     font-family: SkyTextBold;
     src: url('../assets/fonts/SkyText_W_Bd.woff') format('woff'),
          url('../assets/fonts/SkyText_W_Bd.ttf')  format('truetype')
          url('../assets/fonts/SkyText_W_Bd.eot?#iefix') format('embedded-opentype'), 
   }
@font-face {   
    font-family: SkyTextMedium;
    src: url('../assets/fonts/SkyText_W_Md.eot?#iefix') format('embedded-opentype'), 
         url('../assets/fonts/SkyText_W_Md.woff') format('woff'),
         url('../assets/fonts/SkyText_W_Md.ttf')  format('truetype')
  }
  @font-face {
    font-family: SkyTextLight;
    src: url('../assets/fonts/SkyText_W_Lt.woff') format('woff'),
         url('../assets/fonts/SkyText_W_Lt.ttf')  format('truetype'),
         url('../assets/fonts/SkyText_W_Lt.eot?#iefix') format('embedded-opentype'), 
  }
  @font-face {
    font-family: SkyTextRegular;
    src: url('../assets/fonts/SkyText_W_Rg.woff') format('woff'),
         url('../assets/fonts/SkyText_W_Rg.ttf')  format('truetype')
         url('../assets/fonts/SkyText_W_Rg.eot?#iefix') format('embedded-opentype'), 
  }
  h1{
     font-family: var(--typography-h-1-font-family);
     font-weight: var(--typography-h-1-font-style);
     font-size: calc(var(--typography-h-1-font-size)*1px);
     line-height: calc(var(--typography-h-1-line-height)*1px);
     color: var(--colors-text);
     margin:44px 0 0 0px;
   
   }
   h2{
     font-family: var(--typography-h-2-font-family);
     font-weight: var(--typography-h-2-font-style);
     font-size: calc(var(--typography-h-2-font-size)*1px);
     line-height: calc(var(--typography-h-2-line-height)*1px);
     color: var(--colors-text);
   }
   h3{
     font-family: var(--typography-h-3-font-family);
     font-weight: var(--typography-h-3-font-style);
     font-size: calc(var(--typography-h-3-font-size)*1px);
     line-height: calc(var(--typography-h-3-line-height)*1px);
     color: var(--colors-text);
   }
   h4{
     font-family: var(--typography-h-4-font-family);
     font-weight: var(--typography-h-4-font-style);
     font-size: calc(var(--typography-h-4-font-size)*1px);
     line-height: calc(var(--typography-h-3-line-height)*1px);
     color: var(--colors-text);
   }
   h5{
     font-family: var(--typography-h-5-font-family);
     font-weight: var(--typography-h-5-font-style);
     font-size: calc(var(--typography-h-5-font-size)*1px);
     line-height: calc(var(--typography-h-5-line-height)*1px);
     color: var(--colors-text);
   }
   p{
     font-family: var(--typography-paragraph-font-family);
     font-weight: var(--typography-paragraph-font-style);
     font-size: calc(var(--typography-paragraph-font-size)*1px);
     line-height: calc(var(--typography-paragraph-line-height)*1px);
     color: var(--colors-text);
   }
   
